<br>
<div class="container">
	<div class="row">
		<div class="divider"></div>
	</div>
	<div class="row">
		<div class="col s12 m4">
			<a id="startSamba" class="waves-effect waves-light btn green full-width">Start</a>
		</div>
		<p class="padded col s12 m8 center-align hide-on-small-only"> Start the samba service </p>
	</div>
	<div class="row">
		<div class="divider"></div>
	</div>
	<div class="row">
		<div class="col s12 m4">
			<a id="stopSamba" class="waves-effect waves-light btn red full-width">Stop</a>
		</div>
		<p class="padded col s12 m8 center-align hide-on-small-only"> Stop the samba service </p>
	</div>
	<div class="row">
		<div class="divider"></div>
	</div>
	<div class="row">
		<div class="col s12 m4">
			<a id="restartSamba" class="waves-effect waves-light btn amber darken-4 full-width">Restart</a>
		</div>
		<p class="padded col s12 m8 center-align hide-on-small-only"> Restart the samba service </p>
	</div>
	<div class="row">
		<div class="divider"></div>
	</div>
</div>
</div>