<br>
<div class="container">
	<div class="row">
		<div class="divider"></div>
	</div>
	<div class="row">
		<div class="col s12 m4">
			<a id="shutdown" class="waves-effect waves-light btn red full-width">Shutdown</a>
		</div>
		<p class="padded col s12 m8 center-align hide-on-small-only"> Shutdown the pi</p>
	</div>
	<div class="row">
		<div class="divider"></div>
	</div>
	<div class="row">
		<div class="col s12 m4">
			<a id="reboot" class="waves-effect waves-light btn amber darken-4 full-width">Reboot</a>
		</div>
		<p class="padded col s12 m8 center-align hide-on-small-only"> Reboot the pi </p>
	</div>
	<div class="row">
		<div class="divider"></div>
	</div>
</div>
</div>